* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #F2F7F1;
}

/* HEADER */

header {
    margin-top: 2em;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F7F1;

}


#logo img{
    width: 6vw;
    height: 6vh;
}


.hamburger_menu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.title {
    height: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #000;
} span {
    color: #EFD81D;
    background-color: #000;
    font-weight: 700;
    border-radius: 6px;

}

/* MAIN */

.drum {
    margin-top: 4rem;
    height: 80vh;
    background-color: #F2F7F1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 40px;
    background-image: url(./images/back.jpg);
    background-repeat: no-repeat;
}

.button {
    height: 10vh;
    width: 10vw;
    border: 5px solid #000;
    box-shadow: 2px 2px #000;
    cursor: pointer;
    font-size: 4rem;
    background-color: #F2F7F1;
    border-radius: 8px;
}


/* FOOTER */

footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F7F1;
}

.container_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo img{
    width: 5vw;
    height: 5vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.footer_nav ul{
    margin-left: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
} 

@media screen and (max-width: 800px) {
    header {
        margin-top: 1.5em;
        height: 8vh;
    }

    #logo img{
       display: none;
    }

    .hamburger_menu{
        display: none;
    }

    .title {
        text-align: center;
        font-size: 1.5rem;
        color: #000;
    }

    .drum {
        flex-direction: column;
        gap: 10px;

    }

    .button {
        height: 7vh;
        width: 60vw;
        border: 3px solid #000;
        font-size: 2rem;
    }

    .footer_logo img{
        display: none;
    }

    .footer_nav ul{
        margin-left: 0px;
    } 

}







