* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F7F1;
}

/* HEADER */

header {
    margin-top: 2em;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F7F1;

}


#logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%; 
}




.hamburger_menu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.title {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #000;
    gap: 3rem;
    
}

/* MAIN */





.drum {
    margin-top: 4rem;
    height: 80vh;
    background-color: #F2F7F1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 40px;
    background-image: url(./images/back.jpg);
    background-repeat: no-repeat;
}

.button {
    height: 10vh;
    width: 10vw;
    border: 5px solid #000;
    box-shadow: 2px 2px #000;
    cursor: pointer;
    font-size: 4rem;
    background-color: #F2F7F1;
}


